[Unit]
Description=Weather Station service
After=multi-user.target

[Service]
Type=simple
Restart=always
User=rasp
WorkingDirectory=/home/rasp/weather-station/server
ExecStart=/home/rasp/weather-station/server/start_station.sh

[Install]
WantedBy=multi-user.target

